@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5vc9mr');
  src:  url('fonts/icomoon.eot?5vc9mr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5vc9mr') format('truetype'),
    url('fonts/icomoon.woff?5vc9mr') format('woff'),
    url('fonts/icomoon.svg?5vc9mr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-12:before {
  content: "\e900";
  color: #fff;
}
.icon-Vector-11:before {
  content: "\e901";
}
.icon-Group-34981:before {
  content: "\e902";
}
.icon-Vector-10:before {
  content: "\e903";
}
.icon-Vector-9:before {
  content: "\e904";
}
.icon-Vector-8:before {
  content: "\e905";
}
.icon-Vector-7:before {
  content: "\e906";
}
.icon-Phone:before {
  content: "\e907";
  color: #fff;
}
.icon-CaretLeft:before {
  content: "\e908";
}
.icon-Crosshair:before {
  content: "\e90a";
  color: #5c6368;
}
.icon-Faders:before {
  content: "\e90b";
}
.icon-Vector-6:before {
  content: "\e90c";
  color: #fff;
}
.icon-Heart:before {
  content: "\e90d";
  color: #fff;
}
.icon-Ruler:before {
  content: "\e90e";
  color: #5c6368;
}
.icon-Bathtub:before {
  content: "\e90f";
  color: #5c6368;
}
.icon-Bed:before {
  content: "\e910";
  color: #5c6368;
}
.icon-Vector-5:before {
  content: "\e911";
  color: #fff;
}
.icon-Frame-1:before {
  content: "\e912";
}
.icon-Group-1:before {
  content: "\e913";
}
.icon-Frame:before {
  content: "\e914";
}
.icon-Icon-1:before {
  content: "\e915";
}
.icon-Group:before {
  content: "\e916";
}
.icon-Icon:before {
  content: "\e917";
}
.icon-Vector-4:before {
  content: "\e918";
  color: #fff;
}
.icon-Vector-3:before {
  content: "\e919";
  color: #fff;
}
.icon-Vector-2:before {
  content: "\e91a";
  color: #fff;
}
.icon-Vector-1:before {
  content: "\e91b";
  color: #fff;
}
.icon-Vector:before {
  content: "\e91c";
  color: #fff;
}
.icon-PaperPlaneTilt:before {
  content: "\e91d";
  color: #a3abb0;
}
.icon-Envelope:before {
  content: "\e91e";
  color: #a3abb0;
}
.icon-EnvelopeSimple:before {
  content: "\e91f";
  color: #a3abb0;
}
.icon-PhoneCall:before {
  content: "\e920";
  color: #a3abb0;
}
.icon-MapPinLine:before {
  content: "\e921";
  color: #a3abb0;
}
.icon-CaretDown:before {
  content: "\e922";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}
